body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
#logo{
    width: 99%;
    margin: auto;
    display: flex;
    width:800px;
    border-radius: 5px;

}

header {
    background-color: #fdfcfc;
    color: #214170;
    text-align:center;
    padding: 2.5em 0;
    margin: auto;
    font-style: oblique;
    width: 80%;
    height: 99%;
}
.img-logo {
    width: auto;
}


form {
    max-width: 800px;
    margin: 0px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
}

.male{
    margin: auto;
    
}

.female{
    margin: auto;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

select {
    height: 40px;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

.container{
    border: 1px solid black;
    
}

.row{
    border: 1px  solid rgb(5, 5, 5);
    padding: 0px;
}
